<h1>Sessions#create</h1>
<ul>
  <li><b>Login</b>: <%= @provider_response['info']['name'] %></li>
  <li><b>Email</b>: <%= @provider_response['info']['email'] %></li>
</ul>

<pre><%= @provider_response.inspect %></pre>
