<h1>Sessions#create</h1>
<ul>
  <li><b>UID</b>: <%= @provider_response['uid'] %></li>

  <li><b>Login</b>: <%= @provider_response['info']['nickname'] %></li>
  <li><b>Email</b>: <%= @provider_response['info']['email'] %></li>
</ul>

<p><%= @provider_response.to_json %></p>
