<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<nav>
  <div class="fab">
    <a href=<%= tasks_path %>>
      <i class="fa fa-home" alt="home button"></i>
    </a>
  </div>
</nav>

<div class="container-container">
  <h2><i class="fa fa-github" alt="Github logo"></i> Github OAuth landing page, please sign in</h2>

  <div class="fab action login">
    <a href=<%= github_login_url %>>
      <i class="fa fa-sign-in" alt="Sign in button"></i>
    </a>
  </div>
  <h3>Push here to sign in</h3>

  <div class="fab action logout">
    <a href="/logout">
      <i class="fa fa-sign-out" alt="Sign out button"></i>
    </a>
  </div>
  <h3>Push here to sign out</h3>
</div>
