.menu 
  .fab
    = link_to '/cpanel' do
      %i.fa.fa-calendar

.container-container
  .reminder-container
    %h1 Did you remember to #{@reminder}

    .affirmation-container
      .fab{:class=>"fa fa-check"}
      .fab{:class=>"fa fa-times"}

  .search-container
    %input{:type=>"text", :placeholder=>"Search..."}
    %button{:type=>"submit", :class=>"fa fa-search"}
  .nav-container
    .fab
      = link_to '+', new_task_path