.menu 
  .fab
    = link_to '/cpanel' do
      %i.fa.fa-calendar

.container-container
  .reminder-container
    %h1 Did you remember to #{@reminder}

    .affirmation-container
      .fab{:class=>"fa fa-check"}
      .fab{:class=>"fa fa-times"}

  %form.searchForm{:action => "https://duckduckgo.com/?q=", :method => "get"}
    %input.searchBar{:autocomplete => "off", :autofocus => "autofocus", :name => "q", :placeholder => "Search DuckDuckGo...", :search_ => "", :type => "text"}/

  .nav-container
    .fab
      = link_to '+', new_task_path