%nav
  .fab
    = link_to tasks_path do
      %i.fa.fa-home

.container-container
  %h1.title Task details

  %p#notice= notice

  %p.display
    %b Verb:
    = @task.verb

  .fab.action
    = link_to edit_task_path(@task) do
      %i.fa.fa-pencil
