/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

$base_font_size: 22;
$base_line_height: 26;

@function px_to_em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: px_to_em($base_font_size, 16);
  line-height: px_to_em($base_line_height);
}

body {
  background-color: #f0f0f0;
  background-image: url("wallpaper.jpeg");
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}
a:visited {
  color: #CCCCCC;
}

/* 
Adapted from:
http://materialdesignblog.com/creating-a-simple-material-design-action-button-with-css/
https://material.io/guidelines/style/color.html#color-color-palette
*/
.fab {
  width: 1em;
  height: 1em;
  background-color: rgba(63, 81, 181, 0.66);
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 2em;
  color: rgba(255, 255, 255, 0.66);
  text-align: center;
  line-height: 1em;

  /* Override seen link */
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  background-color: #3F51B5;
  color: white;
}

.fa-check {
  background-color: rgba(76, 175, 80, 0.66);
}
.fa-check:hover {
  background-color: #4CAF50;
}

.fa-times {
  background-color: rgba(244, 67, 54, 0.66);
}
.fa-times:hover {
  background-color: #F44336;
}

nav {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: -2em; /* Hotfix */

  .fab {
    width: 1em;
    height: 1em;
    font-size: 2em;
    line-height: 1em;
    background-color: transparent;
    box-shadow: none;
  }
  .fab:hover {
    background-color: transparent;
    box-shadow: none;
  }
}

/* Index specific styles */

.container-container {
  text-align: center;
  max-width: 50%;
  margin: auto;
  margin-top: 15%;
  padding: 2em;
  background-color: rgba(0,0,0, 0.33);

  .reminder-container {
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0,0,0, 0.75);

    padding-top: 1em;
    padding-bottom: 1em;
    line-height: px_to_em($base_line_height); /* Wasn't inheriting? */
    font-weight: 700;
    font-size: 1.793em;

    /* Very temporary style */
    .affirmation-container {
      margin-top: 0.5em;
      margin-bottom: -0.5em;
    }

    .fa-check, .fa-times {
      -webkit-text-stroke-width: 1px;
    }
  }

  /* Search functionality/names from: https://www.reddit.com/r/startpages/comments/83qha0/minimal_startpage_with_time_date_and_duckduckgo/?st=jexnpnbl&sh=8cf96095 */
  .searchForm {
    text-align: center;
    margin-bottom: 1em;

    .searchBar {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
  }

  /* Replace with nav, testing. */
  .nav-container {
    float: right;
  }
}

/* New task styles */
/* This is pretty busted and redundant, find a way to fix this up */

.task_form {
  display: block;
  text-align: center;
  margin-top: 11%;

  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    input {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }
}


@media screen and (max-width: 620px) {

  /* Index specific styles */
  .container-container {
    max-width: 77%;

    .search-container {
      max-width: 66%;
      margin: auto;
    }
  }

  .container-container, .reminder-container, .search-container {
    float: none;

    h1 {
      font-size: 0.772em;
    }

    input[type=text]/*, button */ {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

    input[type=text] {
      border: 1px solid #ccc;  
    }

    button {
      display: none;
    }
  }
}

/* Table styles */
tbody {
  td {
    padding-top: 1em;
    padding-left: 1em;
  }
}