/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

$base_font_size: 22;
$base_line_height: 26;

@function px_to_em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: px_to_em($base_font_size, 16);
  line-height: px_to_em($base_line_height);
}

body {
  background-color: #f0f0f0;
  background-image: url("wallpaper.jpeg");
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}
a:visited {
  color: #CCCCCC;
}

.container-container {
  text-align: center;
  max-width: 50%;
  margin: auto;
  margin-top: 20%;
  padding: 1em;
  background-color: rgba(0,0,0, 0.33);

  .reminder-container {
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0,0,0, 0.75);

    padding-top: 1em;
    padding-bottom: 1em;
    line-height: px_to_em($base_line_height); /* Wasn't inheriting? */
    font-weight: 700;
    font-size: 1.793em;
  }

  .search-container {
    text-align: center;
    margin-bottom: 1em;

    input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }

    button {
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background: #ccc;
    }
  }
}


@media screen and (max-width: 620px) {

  .container-container {
    max-width: 77%;

    .search-container {
      max-width: 66%;
      margin: auto;
    }
  }

  .container-container, .reminder-container, .search-container {
    float: none;

    h1 {
      font-size: 0.772em;
    }

    input[type=text]/*, button */ {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

    input[type=text] {
      border: 1px solid #ccc;  
    }

    button {
      display: none;
    }
  }
}

tbody {
  td {
    padding-top: 1em;
    padding-left: 1em;
  }
}